# Dependencies
# Папка з пакетами, встановлюється через npm install
node_modules/

# Build Artifacts (Production)
# Результати збірки Vite, які ми не зберігаємо в Git
dist/
build/
*.tsbuildinfo

# Environment Variables
# Локальні налаштування та секрети
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ТУТ ВАЖЛИВО: .env.production ми НЕ ігноруємо, 
# бо він потрібен для відображення режиму у Кроці 5

# Tests and Coverage
# Звіти про тестування з Лабораторної №2
coverage/
playwright-report/
test-results/

# Editor & IDE
# Налаштування VS Code та інших редакторів
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tools cache
# Кеш для швидкої роботи Vite та ESLint
.vite/
.eslintcache

# System files
# Тимчасові файли macOS та Windows
.DS_Store
Thumbs.db

# Logs
# Логи помилок
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*